@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  width: 100%;
  height: 100%;
}
.col-content {
  width: 28rem;
  /* margin: auto; */
  /* height: 100%; */
}
.heights {
  height: 100vh;
  padding-inline: 5rem !important;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1379px) {
  .heights {
    padding-inline: 0.7rem !important;
    margin-bottom: 5.5rem;
  }
}
@media only screen and (max-width: 1023px) {
  .col-content {
    width: 100% !important;
    margin: auto !important;
  }
  .content {
    width: 100% !important;
    margin: auto;
    padding: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .col-content {
    width: 100% !important;
    margin: auto !important;
  }
}
@media only screen and (min-width: 769px) {
  .toggle {
    display: none;
    background: red;
  }
}
@media only screen and (max-width: 768px) {
  /* .content {
    margin: auto;
    padding: 10px;
  } */

  .banner {
    display: none;
  }
  .gallery {
    display: none;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles.css */

.price-box {
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.price-box:hover {
  background-color: #ffffff; /* White background on hover */
  color: #ffae1c; /* Change text color on hover */
  transform: scale(1.1); /* Zoom in by 10% */
}
